body {
  overflow-y: scroll;
}
.app {
  height: 100%;
}
.App {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  --wrapperPadding: 70px;
}
