p {
  padding-bottom: 3px;
}
a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
// a:hover {
//   color: #3b974e;
//   // color: #535bf2;
// }
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: #242424; */
  --accent-color: #3b974e;
  --primary-color: #73f190;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // DANGER
  --danger-background-color: #df4646;
  // --danger-background-color: #f35a5a;
  // SECONDARY
  --secondary-background-color: #333338;
  // --secondary-background-color: #434e62;
  /* Светлая тема */

  --white: #fff;

  // Цвет фона
  --background-color-light: #fff;

  // Цвет фона инпута
  --input-background-color-light: #dae9e3;
  // Цвет текста инпута
  --input-color-light: #1e1e22;

  // Цвет текста основной кнопки
  --text-color-light: #1e1e22;
  // Цвет фона основной кнопки
  --primary-button-background-light: #73f190;
  // Цвет текста кнопки
  --primary-button-color-light: #1e1e22;

  // Цвет фона вторичной кнопки
  --secondary-button-background-light: #17181b;
  // Цвет текста вторичной кнопки
  --secondary-button-color-light: #ffffff;

  /* Темная тема */

  // Цвет фона
  --background-color-dark: #1e1e22;

  // Цвет фона инпута
  --input-background-color-dark: #45494f;
  // Цвет текста инпута
  --input-color-dark: #fbfaf3;

  // Цвет акцента
  --accent-color-dark: #00ff00;
  // Цвет текста
  --text-color-dark: #fff;

  // Цвет фона основной кнопки
  --primary-button-background-dark: #73f190;
  // Цвет текста кнопки
  --primary-button-color-dark: #1e1e22;

  // Цвет фона вторичной кнопки
  --secondary-button-background-dark: #17181b;
  // Цвет текста вторичной кнопки
  --secondary-button-color-dark: #ffffff;
}
// BUTTONS
.j-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color, transform ease 0.25s;
}
.j-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 20px 80px -10px #73f190;
}
// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }
.danger-btn {
  background-color: var(--danger-background-color);
  color: var(--white);
  &:hover {
    box-shadow: 0 20px 80px -10px var(--danger-background-color) !important;
  }
}

.secondary-btn {
  background-color: var(--secondary-background-color);
  color: var(--white);
}
// .app {
//   background-color: light-dark(#fff, #1e1e22) !important;
// }
.light .app {
  /* Стили для светлой темы */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  select {
    color: #0e101a;
  }
  .primary-button {
    /* Стили для основной кнопки в темной теме */
    background-color: var(--primary-button-background-light);
    color: var(--primary-button-color-light);
  }

  .secondary-button {
    /* Стили для основной кнопки в темной теме */
    background-color: var(--secondary-button-background-light);
    color: var(--secondary-button-color-light);
  }

  .text {
    color: var(--text-color-light);
  }

  .j-input {
    background-color: var(--input-background-color-light) !important;
    color: var(--input-color-light) !important;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.15rem #0d8065 !important;
    }
  }
}

.dark .app {
  /* Стили для темной темы */

  .primary-button {
    /* Стили для основной кнопки в темной теме */
    background-color: var(--primary-button-background-dark);
    color: var(--primary-button-color-dark);
  }

  .secondary-button {
    /* Стили для основной кнопки в темной теме */
    background-color: var(--secondary-button-background-dark);
    color: var(--secondary-button-color-dark);
  }
  .text {
    color: var(--text-color-dark);
  }
  .accent {
    color: var(--text-color-dark);
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  margin-bottom: 0px;
  margin-bottom: 0px;
}

body,
html {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#root,
html,
body,
.App {
  height: 100%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

// СТАНДАРТНЫЙ НАБОР КЛАССОВ
.w100 {
  width: 100%;
}
.pd-5 {
  padding: 5px;
}
.pd-10 {
  padding: 10px;
}
// СТАНДАРТНЫЙ ФЛЕКС
.dflex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.align-items-start {
  align-items: start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: end;
}
.justify-content-end {
  justify-content: end;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-25 {
  gap: 25px;
}
// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }

// Темы
