.order {
  display: flex;
  flex-direction: column;
  padding: 28px;
  color: #2c2d2e;
  border-radius: 7px;
  background-color: #fff;
  margin-bottom: 30px;

  &-header {
    width: 100%;
    margin-bottom: 30px;

    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      > .left {
        display: flex;
        align-items: center;
        flex-direction: row;

        .order-title {
          font-size: 25px;
          font-weight: 700;
          margin-right: 16px;
        }
      }

      > .right {
        .price-range {
          font-size: 25px;
          font-weight: 500;
        }
      }
    }
  }

  &-details {
    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      > .left {
        .order-service-place {
          .title {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }

      > .right {
        .orderer {
          .title {
            font-size: 16px;
            font-weight: 600;
          }

          text-align: end;
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;

      .order-description {
        width: 60%;

        .title {
          font-size: 16px;
          font-weight: 600;
        }

        .description {
          font-size: medium;
          text-align: justify;
          min-width: 200px;
        }
      }

      .write-orderer {
        // white-space: nowrap;
      }
    }
  }

  .responses {
    .response {
      padding: 20px;
      border-radius: 5px;
      border: 1px solid rgba(0, 16, 61, 0.12);
      margin-bottom: 20px;

      .header {
        font-family: "Inter", sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;

        .person {
          display: flex;
          flex-direction: row;

          .avatar {
            margin-right: 10px;
            // background-color: #bbb;

            img {
              width: 50px;
              border-radius: 50%;
              height: 50px;
            }
          }

          .data {
            .fullname {
              font-size: 16px;
              font-weight: 600;

              svg {
                margin-left: 5px;
                color: var(--primary-color);
              }
            }

            .date {
              font-size: 14px;
              color: #787878;
            }
          }
        }

        .discuss-btn {
          background-color: transparent;
          border: 1px solid rgba(44, 45, 46, 0.4);
          color: #343434;
          font-weight: 600;

          &:hover {
            border: 1px solid rgba(44, 45, 46, 1);
          }
        }
      }

      .footer {
        max-width: 60%;

        .price {
          font-family: "Inter", sans-serif;
          font-weight: 600;
          margin-bottom: 10px;
        }

        .description {
        }
      }
    }
  }
}
.light.app {
  .order {
    background-color: #f5f5f5;
  }
}
.dark.app {
  .order {
    background-color: #333338;
    color: #fff;
  }
}
