form {
  input {
    display: flex;
    width: 50%;
    resize: none;
    padding: 0.375rem 0.75rem;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff !important;
    background-color: #45494f !important;
    background-clip: padding-box;
    border: 1px solid transparent !important;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      color: #bcbcbd !important;
      outline: 0;
      box-shadow: 0 0 0 0.15rem rgba(152, 151, 230, 0.6) !important;
    }
  }

  label {
    color: #6c757d !important;
    display: inline-block;
    margin-bottom: .5rem;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}